

.userTop{
	  -fx-border-width: 5.0;
      -fx-border-color:#2400F0;
}

.userBottom{
      -fx-border-color:  #00F09C;
	  -fx-border-width: 5.0;
}

.userLeft{
      -fx-border-color:  #F00054;
      -fx-border-width: 5.0;
}

.userRight{
      -fx-border-color:  #CCF000;
      -fx-border-width: 5.0;
}
