*{
	userTop: #0C8CFF; 
	userLeft: #F00054;
	userRight: #CCF000;
	userBottom: #00F09C;
	
	userTopSelected: #2400F0;
	userLeftSelected: #F00054;	
	userRightSelected:#CCF000;
	userBottomSelected: #00F09C;	
}



#caption{
	-fx-text-fill: white;
	-fx-font-size:1.3em;
}

.belongsToTopUnderline{
	-fx-border-color: userTop;
	-fx-border-width : 0 0 3 0 ;	
}

.belongsToBottomUnderline{
	-fx-border-color: userBottom;
	-fx-border-width : 0 0 3 0 ;	
}

.belongsToLeftUnderline{
	-fx-border-color: userLeft;
	-fx-border-width : 0 0 3 0 ;	
}

.belongsToRightUnderline{
	-fx-border-color: userRight;
	-fx-border-width : 0 0 3 0 ;	
}

.belongsToTop, .belongsToBottom, .belongsToLeft, .belongsToRight{
	 -fx-border-radius:15.0;
	 -fx-background-radius: 20.0;
	 -fx-border-width:6;	
 
	
}
.belongsToTop{
	-fx-border-color:userTop;

}

.belongsToBottom{
	-fx-border-color:userBottom;
	
}

.belongsToLeft{
	-fx-border-color:userLeft;
}

.belongsToRight{
	-fx-border-color:userRight;
}

.empty{
	-fx-background-color:#FF0000;
}

Label{
}

.fourUserEditable-toggle{
-fx-border-color:black;
-fx-border-radius: 10.0;
-fx-background-radius: 10.0;
-fx-background-repeat: no-repeat;
-fx-background-size: 30 30;
-fx-background-position: center;
-fx-font-size: 1.3em;
-fx-text-fill:#ffffff;
}


.fourUserEditable-toggle:selected{
-fx-border-color:white;
-fx-border-radius: 10.0;
-fx-background-radius: 10.0;

}

