*{
	userTop: #0C8CFF; 
	userLeft: #F00054;
	userRight: #CCF000;
	userBottom: #00F09C;
	researcher: black;
	
	userTopSelected: #2400F0;
	userLeftSelected: #F00054;	
	userRightSelected:#CCF000;
	userBottomSelected: #00F09C;	
}


.background-top{
-fx-background-color: userTop;
}

.background-left{
-fx-background-color:userLeft;

}

.background-right{
-fx-background-color: userRight;

}

.background-bottom{
-fx-background-color: userBottom;

}

.researcher{
-fx-background-color: researcher;
-fx-background-image: url("/gfx/researcher.png");
}