.root {
	-fx-background-image: url("textureMetal2.jpg");
	-fx-background-size: cover;
}

Label{
		-fx-text-fill:white;
}

.btn{
	-fx-background-color: #3c4250;
	-fx-padding: 30;
	-fx-border-color: #222222;
	-fx-text-fill:white;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	
}


.setupImage{
	-fx-background-size: 200;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);	
}
