*{
	userTop: #F6A4AC; 
	userLeft: #FFEAAA;
	userRight: #8180B2;
	userBottom: #9AD58E;
	
	userTopSelected: #7B151F;
	userLeftSelected: #554000;	
	userRightSelected:#1B1A59;
	userBottomSelected: #0C4700;	
	
	userTopTransparent: rgba( 	246, 164, 172, .7);
}

#conceptNode
{
	-fx-padding:20.0;
	-fx-background-color:#FFFFFF;	
	 
}

#caption{
	-fx-text-fill: black;

}

.belongsToTopUnderline{
	-fx-border-color: userTop;
	-fx-border-width : 0 0 3 0 ;	
}

.belongsToBottomUnderline{
	-fx-border-color: userBottom;
	-fx-border-width : 0 0 3 0 ;	
}

.belongsToLeftUnderline{
	-fx-border-color: userLeft;
	-fx-border-width : 0 0 3 0 ;	
}

.belongsToRightUnderline{
	-fx-border-color: userRight;
	-fx-border-width : 0 0 3 0 ;	
}

.belongsToTop, .belongsToBottom, .belongsToLeft, .belongsToRight{
	 -fx-border-radius:20.0;
	 -fx-background-radius: 20.0;
	 -fx-border-width:4;	
	
}
.belongsToTop{
	-fx-border-color:userTop;

}

.belongsToBottom{
	-fx-border-color:userBottom;
	
}

.belongsToLeft{
	-fx-border-color:userLeft;
}

.belongsToRight{
	-fx-border-color:userRight;
}

.empty{
	-fx-background-color:#FF0000;
}

Label{
	-fx-background-color:#FFFFFF;	
}


.belongsTo-top{
	
}
.fourUserEditable-toggle{
-fx-border-color:black;
-fx-border-radius: 5.0;

}


.fourUserEditable-toggle:selected{
-fx-border-color:white;
-fx-border-radius: 10.0;
-fx-background-radius: 10.0;
-fx-font-size: 1.3em;
-fx-text-fill:#ffffff;
}


#fourUserEditable-topToggle{
-fx-background-color: userTop;
}

#fourUserEditable-leftToggle{
-fx-background-color:userLeft;
}

#fourUserEditable-rightToggle{
-fx-background-color: userRight;
}

#fourUserEditable-bottomToggle{
-fx-background-color: userBottom;
}


#fourUserEditable-topToggle:selected{
-fx-background-color: userTopSelected;
}

#fourUserEditable-leftToggle:selected{
-fx-background-color: userLeftSelected;
}

#fourUserEditable-rightToggle:selected{
-fx-background-color: userRightSelected;
}

#fourUserEditable-bottomToggle:selected{
-fx-background-color: userBottomSelected;
}