.key-background {
	-fx-background-color:#222222;
	-fx-background-radius: 0.0;
	-fx-focus-traversable: false;
	-fx-border-color: black;
	-fx-border-width: 1.5;
	-fx-border-radius: 0.5;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.6), 30.0, 0.0, 0.0, 0.0);
	
}

.key-background-row {
	-fx-padding: 5.0;
	-fx-vgap: 2.5;
}

.key-background-column {
	-fx-hgap: 2.5;
}

.key-context-background {
	-fx-background-color: #dcdcdc;
	-fx-background-radius: 0.0;
	-fx-focus-traversable: false;
	-fx-border-color: #dcdcdc;
	-fx-border-width: 0.5;
	-fx-border-radius: 0.0;
	-fx-opacity: 0.8;
	-fx-padding: 5.0;
	-fx-vgap: 5.0;
	-fx-hgap: 5.0;
}

.key-button, .key-context-button {
	-fx-font-size: 1.2em;
	-fx-font-family: "sans-serif";
	-fx-text-fill: white;
	-fx-background-radius: 0.0;
	-fx-background-color: #3c4250;
	-fx-border-width: 0.0;
	-fx-label-padding: -10.0;
}

.key-button:hover {
	-fx-background-color: #646a78;
}

.key-button:pressed {
	-fx-background-color: #646a78;
}

.key-button.button.small-style {
	-fx-font-family: "sans-serif";
	-fx-font-weight: bold;
	-fx-font-size: 0.8em;
}

.key-button.button.sticky-style {
}

.key-button.button.font-fxkeyboard {
	-fx-font-family: FontKeyboardFX;
	-fx-font-size: 1.2em;
}

.key-button.button.font-fxkeyboard-alpha {
	-fx-font-family: FontKeyboardFX;
	-fx-font-size: 1.2em;
	-fx-text-fill: rgba(250.0, 250.0, 250.0, 0.3);
}

.key-button.button.font-awesome {
	-fx-font-family: FontAwesome;
	-fx-font-size: 1.1em;
}

.key-button.button .label {
	-fx-background-color: white;
	-fx-scale-shape: false;
}